@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: /*#3e3b41;*/ radial-gradient(circle, #746f79, #3e3b41), url('/noise-texture.png');
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Kanit", Arial, Helvetica, sans-serif;
}
